# PyLint configuration
[MASTER]
load-plugins=
ignore-patterns=test_.+?,^setup\.py

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,

[VARIABLES]
dummy-variables-rgx=_

[FORMAT]
max-line-length=100
